.aboutcontainer {
    display: flex;
    flex-direction: column;
  
    width: 60%;
    margin: 5rem auto;
  }
  .aboutcontainer__section {
    display: flex;
    position: relative;

  }

  .acr__imagewrap,
  .about_textwrap {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
  
    margin: 2rem;
  }
  .acr__image {
    width: 500px;
    border: 5px solid #333333;
    border-radius: 20%;
  }
  .about_text {
    font-size: 1.25rem;
    line-height: 1.5;
  }
  .about_title {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    text-align: center;
  
    color: #333333;
  }
  