.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;

}

.login__container {
  display: flex;
  flex-direction: column;
}

.login__input {
  width: 24rem;
  padding: 1rem;
}

.login__button:hover {
  cursor: pointer;
}


.staffreturn_backbtn{
  position: absolute;
  top: 2rem;
  left: 2rem;
  padding: 10px;
}
